
  @font-face {
    font-family:'Xserif3';
    src: url('../fonts/Xserif3.ttf') format('truetype');
  }
  * {
    font-family: 'Spectral';
    font-size: 32px;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 32px;
  }
  .frm0 {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .frm1 {
    border: none;
    width: 100%;
    max-width: 1500px;
    padding: 35px;
  }
  .box0 {
    border: 4px solid black;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .ctn0 {
    border: none;
    max-width: 1200px;
    width: auto;
    height: auto;
    padding: 0px 0px 0px 3px;
  }
  .img0 {
    width: 100%;
    margin: 0px 3px 3px 0px;
  }
  .tabcontent {
    animation: fadeEffect 2s;
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  button {
    background-color: inherit;
    color: black;
  }
  button:hover {
    background-color: #ddd;
  }
  button.active {
    background-color: black;
    color: white;
  }
